body{
  background-color:rgb(240, 234, 223);
}

/* Gives new back ground to cards */
#supplies,#donations,#charities,#signUp,#id02{
  background-image:url(http://www.westcpapc.com/wp-content/uploads/2014/09/Hands-Holding-World.jpg); 
  background-position: 0px;
  background-size: cover;
}

.navbar{
  background-color: rgb(86, 128, 141);
  height: 70px;
}

#logo{
  position: absolute;
  top:0px;
  left: 490px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  max-width: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#jumbo1{
  background-image:url(https://static01.nyt.com/images/2019/04/16/multimedia/16venezuelaaid-sub/merlin_153613149_581c8705-18ef-4a0b-b650-e7d014872790-superJumbo.jpg?quality=90&auto=webp); 
  background-position: 0px;
  background-size: cover;
  height: 325px;
  min-height:100%;
 
  

}

.jumbotron{
  background-color: rgb(9, 9, 71);
  color: aliceblue;
  text-align: center;
  height: 470px;
}

#menu{
position: absolute;
top:10px;

}

#map{
  position:absolute;
  top: 0px;
  left: 0px;
}

#fb{
  position: absolute;
  left:220px;
}

#fb2{
  position: absolute;
  left:-78px;
}

#card1{
  background-image:url(https://wfxl.com/resources/media/b89bb0bd-51ec-4944-b059-40551e50fb41-large16x9_1118FoodDonations.jpg?1479483261738);


}

.motioncard1:hover{
margin-top: -5px;
margin-left: -5px;
/* border:2px solid red; */

}

.motioncard2:hover{
  margin-top: -5px;
  margin-left: -5px;
  /* border:2px solid red; */
  
  }

  .motioncard3:hover{
    margin-top: -5px;
    margin-left: -5px;
    /* border:2px solid red; */
    
    }

  

#card2{
  background-image:url(https://vancityblog.azureedge.net/wp-content/uploads/2016/12/GiveHands-iStock-Blog-1280x620-1280x620.jpg);
  background-size: cover;
  background-position: -75px;
  
}

#card3{
  background-image:url(https://i0.wp.com/www.directrelief.org/wp-content/uploads/2019/04/pic5.jpg?resize=1280%2C720px&ssl=1);
  background-position: -85px;
}

#card4{
  background-image:url(../images/map.PNG);
  background-position: -85px;
}

#card5{
  background-color: navy;
  color: aliceblue;
  text-align: left;
}


.card-body{
  height: 222px;
  
}



#card{
 border-top: 5px solid black;
}

#btn1{
  position:absolute;
  bottom: 18px;
  left: 130px;
  width: 50%;
  }

#btn2{
position:absolute;
bottom: 18px;
left: 86px;
width: 50%;
}

#btn3{
  position:absolute;
  bottom: 18px;
  left: 86px;
  width: 50%;
  }

  #world{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110%;
  }

h1{
  text-align: center;
  border-top: 5px solid black;
}
  
  

h2{
  text-align: center;
  
}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#footer{
  border-top: 5px solid black;
  
}

#chat{
  position: fixed;
  top: 50%;
  left: 2%;
}

#map2{
display: none;
}

html{
  min-height:100%;

}

#color{
  color:red;
  cursor: pointer;
  
}

#color1{
  color: red;
  cursor: pointer;
  
}

#color2,#color3,#color4,#color5,#color6{
  color: blue;
  cursor: pointer;
  
}



#login{
  text-align: left;
}

p{
  text-align: left;
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.cancelbtn2 {
  /* width: auto;
  padding: 10px 18px; */
  background-color: blue;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(240, 234, 223);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media only screen and (max-width:640px){
  #map2{
    display:block;
  }
  #map1{
    display: none;
  }
}

a{
  color: aliceblue;
}

header{
  z-index: 999;
  position: fixed;
  top: 40vh;
  left: 740px;

}



  html{
      min-height:100%
  
  }
  
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      /* z-index: 1; */
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      
    }


    .card{
      /* z-index: 1; */
      width: 500px;
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: black;
    }

    #links{
      color:red;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

    /* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  /* z-index: 99999; */
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(240, 234, 223);
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#myForm{
  z-index: 99999;
}

#tax{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;

}